@import '../../styles/variables';

.card {
	min-height: calc(100% - 2em);
	padding: 2em 1em;
	
	@media (min-width: $breakpoint-small) {
		padding: 2em;
	}
}

.navbar {
	margin-bottom: $card-padding-vertical;
	
	& li {
		height: 43px;
	}
}
