@import '../../../../styles/variables';

.leftColumn {
	@media (max-width: $breakpoint-medium) {
		display: none;
	}
}

.height {
	height: calc(100% - 2em);

	@media (min-width: $breakpoint-large) {
		height: calc(100% - 3em);
	}
}
