@import '../../styles/variables';
@import '../../styles/global';
@import '../../styles/mixins';

$size: 20px;
$padding: 2px;

.switch {
	border-radius: calc(#{$size} + 2 * #{$padding});
	box-shadow: $control-shadow;
	cursor: pointer;
	display: flex;
	padding: $padding;
	width: 2 * $size;
}

.slider {
	@include gradient-style($background);
	border-radius: $size;
	box-shadow: $control-shadow;
	padding: $size / 2;
}

.on {
	@include gradient-style($primary-color);
	justify-content: flex-end;
	
}

.off {
	@include gradient-opacity-style();
	justify-content: flex-start;
}
