@import '../../../../styles/variables';
@import '../../../../styles/mixins';

$height: 80px;

.container {
	list-style: none;
	padding: 0;
	pointer-events: none;
	position: fixed;
	right: 0;
	z-index: 1;
	
	@media (max-width: $breakpoint-small) {
		left: 0;
	}
}

.notification {
	border-radius: $border-radius-large;
	cursor: pointer;
	margin: $card-margin-small;
	min-height: $height;
	padding: 0;
	pointer-events: all;
	
	@media (min-width: $breakpoint-small) {
		margin: $card-margin-large;
		width: 350px;
	}
}

.icon {
	margin: auto;
	min-width: $height;
}

.info {
	@include gradient-style($blue);
}

.success {
	@include gradient-style($green);
}

.danger {
	@include gradient-style($red);
}
