$font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$primary-bg-color: #292C33;
$secondary-bg-color: #34373D;
$tertiary-bg-color: #20232A;
$primary-color: #767CFF;
$secondary-color: #EEEEEE;