@import 'variables';

body {
	box-sizing: content-box;
	overflow-y: scroll;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

a:hover p {
	@media (hover: hover) {
		color: $primary-color;
	}
}

a:active p {
	color: $primary-color;
}

svg:not(.icon-center):not(.icon-right) {
	@extend .icon-left;
}

.font-size-medium {
	font-size: $font-size-medium;
}

.font-size-large {
	font-size: $font-size-large;
}

.font-size-xlarge {
	font-size: $font-size-xlarge;
}

.icon-left {
	margin-right: $icon-margin;
}

.icon-right {
	margin-left: $icon-margin !important;
}
