@import 'variables';
@import 'mixins';

body {
	box-sizing: content-box;
	overflow-y: scroll;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

#root {
	background: $background;
	min-height: 100vh;
}

p, a.text {
	@include text-crop();
}

p, .uk-list > li {
	//border: 1px solid;
}

a {
	-webkit-user-drag: none;
}

svg {
	margin: 0 $icon-margin 0 0;
	transform: scale(1);
	
	&.icon-center {
		margin: 0;
	}
	
	&.icon-right {
		margin: 0 0 0 $icon-margin;
	}
	
	&.svg-inline--fa {
		height: 0.8em;
	}
}

.text-medium {
	font-size: $font-size-medium;
}

.text-large {
	font-size: $font-size-large;
}

.text-larger {
	font-size: $font-size-larger;
}

.text-xlarge {
	font-size: $font-size-xlarge;
}

.round-border {
	border-radius: $border-radius-large;
}

.primary-border {
	@extend .round-border;
	border: 1px solid rgba($primary-color, 0.75);
}

.border {
	border: 0.5px solid;
	border-radius: 5px;
}

.blur {
	backdrop-filter: blur(3px);
}
