@import './variables';

@mixin gradient-style($color, $amount1: 0, $amount2: 0) {
	background: linear-gradient(
			lighten(adjust_hue($color, $amount1), 10),
			adjust_hue($color, $amount2),
	);
	color: $inverse-color;
}

@mixin gradient-opacity-style($multiplier: 1) {
	$color: white;
	$diff: 0.25;
	$amount: 0.1;
	
	background: linear-gradient(
			rgba($color, $multiplier * $diff + $amount),
			rgba($color, $multiplier * $diff - $amount)
	);
	color: $base-color;
}

@mixin button-style($color, $amount1: 0, $amount2: 0) {
	&, &:hover, &:active {
		@include gradient-style($color, $amount1, $amount2);
	}
}

// http://text-crop.eightshapes.com
@mixin text-crop($line-height: 1.4, $adjustment: -3px) {
	$top-crop: 0;
	$bottom-crop: 6;
	$crop-font-size: 36;
	$crop-line-height: 1.2;
	
	$dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
	$dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
	
	line-height: $line-height;
	
	&::before,
	&::after {
		content: '';
		display: block;
		height: 0;
		width: 0;
	}
	
	&::before {
		margin-bottom: calc(-#{$dynamic-top-crop}em + #{$adjustment});
	}
	
	&::after {
		margin-top: calc(-#{$dynamic-bottom-crop}em + #{$adjustment});
	}
}
