@import './variables';
@import '../../node_modules/react-notifications-component/dist/scss/_types.scss';
@import '../../node_modules/react-notifications-component/dist/scss/notification.scss';

.notification-info {
	@extend .notification-default;
	
	background: $blue;
	border-left: 8px solid darken($blue, 15);
}

.notification-item {
	.notification-icon {
		padding: 6px 10px 0 3px;
	}
	
	.notification-content {
		padding: 10px 15px;
		width: calc(100% - 8px);
	}
	
	.notification-title {
		margin-top: 0;
	}
	
	.notification-message {
		max-width: 100%;
	}
}
