// Colors
$background-color: rgb(39, 44, 53);
$primary-color: rgb(255, 198, 92);
$base-color: #EEE;
$input-color: #000;
$muted-color: #999;

$blue: #3498DB;
$green: #3BB15B;
$yellow: #D68D2A;
$red: #C14040;

$navbar-color: adjust-color($background-color, -9, -10, -9);
$title-color: darken($primary-color, 4);
$card-background-color: adjust-color($background-color, 10, 9, 10);
$card-background-light-color: lighten($card-background-color, 6);
$card-background-light-hover-color: lighten($card-background-color, 11);
$card-background-light-active-color: lighten($card-background-color, 15);
$overlay-color: adjust-color($card-background-color, 4, 4, 4);

$primary-hover-color: darken($primary-color, 7);

$button-color: $card-background-color;

// Dimensions
$card-border-radius: 1em;
$button-border-radius: 0.5em;
$icon-margin: 0.2em;

$font-size-medium: 1.15em;
$font-size-large: 1.4em;
$font-size-xlarge: 2em;

$breakpoint-small: 640px;
$breakpoint-medium: 960px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1600px;
