// Colors
$primary-bg-color: #292C33;
$secondary-bg-color: #34373D;
$tertiary-bg-color: #20232A;

$primary-color: #767CFF;
$secondary-color: #EEE;
$tertiary-color: $secondary-bg-color;
$muted-color: #999;

$secondary-bg-color-light: lighten($secondary-bg-color, 2.5);
$primary-color-dark: darken($primary-color, 4);
$primary-color-opacity-low: rgba($primary-color, 0.15);
$primary-color-opacity-medium: rgba($primary-color, 0.3);

// Dimensions
$primary-border-radius: 1em;
$secondary-border-radius: 0.5em;
$navbar-item-padding: 3em;
$icon-margin: 0.2em;

$font-size-medium: 1.15em;
$font-size-large: 1.4em;
$font-size-xlarge: 1.6em;

$breakpoint-small: 640px;
$breakpoint-medium: 960px;
$breakpoint-large: 1200px;
$breakpoint-xlarge: 1600px;

$height-breakpoint-medium: 700px;
$height-breakpoint-large: 900px;
