@import '../../styles/variables';

.overlay {
	position: fixed;
	width: 150%;
	height: 530px;
	top: -450px;
	left: -25%;
	right: 25%;
	bottom: 80px;
	background-color: $tertiary-bg-color;
}

.layout {
	padding-bottom: 2em;

	@media (max-width: 500px) {
		padding: 0 0 1em;
	}
}

.header {
	height: 6em;
	margin-top: 2.5em;

	@media (max-height: 880px) {
		height: 5.25em;
		margin-top: 1.75em;
	}

	@media (max-height: 680px) {
		height: 4.5em;
		margin-top: 1em;
	}
}

.title {
	color: $primary-color;
	font-size: 3em;
	font-weight: bold;
}
