@import '../../styles/variables';

.env {
	padding: 0 env(safe-area-inset-right) 0 env(safe-area-inset-left);
}

.layout {
	padding-bottom: 1em;
	
	@media (min-width: $breakpoint-small) {
		padding-bottom: 1.5em;
	}
	
	@media (min-width: $breakpoint-large) {
		padding-bottom: 2em;
	}
}
