@import '../../../../styles/variables';

$margin: 1.5em;

.container {
	border: 0.5px solid rgba(white, 0);
	height: 7.1em;
}

.unknown {
	background: $card-background-light;
	border-radius: $input-border-radius;
	height: calc(100% - #{$margin} - 1px);
	margin-top: $margin;
}
