@import '../../../../styles/variables';

.toggle {
	cursor: pointer;
	padding-left: 0.5em;
}

.container {
	height: 6.7em;
	overflow: hidden;
}

.unknown {
	background: $card-background-light-color;
	border-radius: $input-border-radius;
	height: calc(100% - 1.5em - 1px);
	margin-top: 1.5em;
}
