@import '../../../../styles/variables';

$ratio: 1 - $header-ratio;

.container {
	min-height: 4em;
	
	@media (min-width: $breakpoint-medium) {
		height: calc(#{$ratio} * #{$viewport-height-medium} - #{$features-height});
	}
	
	@media (min-width: $breakpoint-large) {
		height: calc(#{$ratio} * #{$viewport-height-large} - #{$features-height});
	}
}
