@import '../../../../styles/variables';

$ratio: 1 - $header-ratio;

.container {
	min-height: 2em;
	text-align: center;
	
	@media (min-width: $breakpoint-small) {
		min-height: 4em;
		height: calc(#{$ratio} * #{$viewport-height-medium} - #{$features-height} - #{$card-margin-medium});
	}
	
	@media (min-width: $breakpoint-large) {
		height: calc(#{$ratio} * #{$viewport-height-large} - #{$features-height} - #{$card-margin-large});
	}
}
