@import '../../../styles/variables';
@import '../../../styles/mixins';

$size: 20px;

.switch {
	border-radius: $size;
	cursor: pointer;
	display: flex;
	padding: 2px;
	width: 2 * $size;
	
	& * {
		border-radius: 100%;
		box-shadow: 0 0 3px rgba(black, 0.25);
		height: $size;
		width: $size;
	}
}

.on {
	@include gradient-style($primary-color);
	justify-content: flex-end;
	
	& * {
		@include gradient-style($base-color);
	}
}

.off {
	@include gradient-opacity-style();
	justify-content: flex-start;
	
	& * {
		@include gradient-opacity-style();
	}
}
