@import '../../../styles/variables';
@import '../../../styles/mixins';

$size: 1.3em;

.switch {
	border-radius: $size;
	cursor: pointer;
	display: flex;
	padding: 2px;
	width: 2 * $size;
	
	&.on {
		@include gradient-style($primary-color);
		justify-content: flex-end;
		
		& * {
			@include gradient-style($base-color);
		}
	}
	
	&.off {
		@include gradient-opacity-style($card-background);
		justify-content: flex-start;
		
		& * {
			@include gradient-opacity-style($card-background);
		}
	}
	
	& * {
		border-radius: 100%;
		box-shadow: 0 0 3px rgba(black, 0.25);
		height: $size;
		margin: auto 0;
		width: $size;
	}
}
