@import '../../../../../../../../styles/variables';

$margin: 4px;

.button {
	flex-grow: 1;
	
	&, &:hover, &:active {
		margin-top: 2 * $margin;
	}
}

.leftButton {
	@extend .button;
	
	&, &:hover, &:active {
		margin-right: $margin;
	}
}

.rightButton {
	@extend .button;
	
	&, &:hover, &:active {
		margin-left: $margin;
	}
}
