@import '../../../../../../../../styles/variables';

$margin: 4px;

.button {
	&, &:hover, &:active {
		margin-top: 2 * $margin;
	}
	
	&.left {
		&, &:hover, &:active {
			margin-right: $margin;
		}
	}
	
	&.right {
		&, &:hover, &:active {
			margin-left: $margin;
		}
	}
}
