@import '../../../../styles/variables';

.header {
	height: 6em;
	padding-top: $card-margin-small;
	
	@media (min-width: $breakpoint-small) {
		padding-top: $card-margin-medium;
	}
	
	@media (min-width: $breakpoint-large) {
		padding-top: $card-margin-large;
	}
}

$header-ratio: 0.45;

.headerLarge {
	@extend .header;
	height: calc(#{$header-ratio} * #{$viewport-height-small} - 2 * #{$card-margin-small});
	min-height: 14em;
	
	@media (min-width: $breakpoint-small) {
		height: calc(#{$header-ratio} * #{$viewport-height-medium} - 2 * #{$card-margin-medium});
	}
	
	@media (min-width: $breakpoint-large) {
		height: calc(#{$header-ratio} * #{$viewport-height-large} - 2 * #{$card-margin-large});
	}
}

.title {
	color: $primary-color;
	font-size: 3.3em;
	font-weight: bold;
}

.titleLarge {
	@extend .title;
	font-size: 4.5em;
}
