@import '../../../../styles/variables';

.header {
	height: 6em;
	padding-top: $card-margin-small;
	
	@media (min-width: $breakpoint-small) {
		padding-top: $card-margin-medium;
	}
	
	@media (min-width: $breakpoint-large) {
		padding-top: $card-margin-large;
	}
}

.headerLarge {
	@extend .header;
	min-height: 14em;
	height: calc(#{$header-ratio} * #{$viewport-height-small} - 3 * #{$card-margin-small});
	
	@media (min-width: $breakpoint-small) {
		height: calc(#{$header-ratio} * #{$viewport-height-medium} - 3 * #{$card-margin-medium});
	}
	
	@media (min-width: $breakpoint-large) {
		height: calc(#{$header-ratio} * #{$viewport-height-large} - 3 * #{$card-margin-large});
	}
}

.title {
	color: darken($primary-color, 2);
	font-size: 3em;
	font-weight: bold;
}

.titleLarge {
	@extend .title;
	font-size: 4em;
}
